
.container {
    display: flex;
    flex-direction: column;


    .title {
        font-size: 128px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 6rem;
        padding-left: 6rem;
        font-weight: 600;
        color: #524B4A;
        flex-direction: row;

        .line {
            // margin-top: -21vh;
            width: 300px;
            background-color: black;
            height: 3px;
            opacity: 0.3;
            animation: all 2s cubic-bezier(0.45,0.05,0.55,0.95);
            animation-delay: 2.8s;

            @keyframes all {
                from {
                    width: 0;
                }
                to {
                    width: 300px;
                }
            }
        }
    }

    .body {
        display: flex;
        position: relative;
        flex-direction: column;
        padding-left: 6rem;
        gap: 20px;


        p {
            font-size: 2rem;
            margin: 0;
            width: 780px;
            gap: 8px;
            line-height: 1.3;
            span {
                margin-right: 3px;
            }
            .mask {
                position: relative;
                overflow: hidden;
                display: inline-flex;
                // width: 40
            }

            // &:nth-of-type(2) {
            //     font-size: 20px;
            //     width: 80%;
            // }
        }
    }

    .moreAbout {
        display: flex;
        justify-content: center;
        padding-bottom: 300px;
        
        .circle {
            // margin-top: -10vh;
            width: 180px;
            height: 180px;
            background-color: #524B4A;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            position: absolute;
            p {
                z-index: 1;
                color: white;
            }
        }
    }
}