

.header {
//   position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  top: 0;
  color: "#0C0E0D";
  padding: 3rem 6rem;
  padding-bottom: 6.5rem;
  width: 100%;
  font-weight: 300;
  box-sizing: border-box;
  align-items: center;
  animation: all 2s cubic-bezier(0.76, 0, 0.24, 1);
  animation-delay: 2.7s;

  @keyframes all {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
  }


  .logo {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    font-size: 24px;
    font-weight: bolder;
    opacity: 0.5;
    p {
        margin: 0px;
        transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    }
    .name {
        display: flex;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        // margin-left: 5px;
        transition: all 0.5s cubic-bezier(0.78, 0.04, 0.43, 0.94);
        

        p {
            position: relative;
            transition: transform 0.5s cubic-bezier(0.78, 0.04, 0.43, 0.94);
            &:nth-of-type(2){
                padding-left: 0.3em;
                // position: absolute;
                // left: 50px;
            }
            &:nth-of-type(3){
                padding-left: 0.3em;
                position: absolute;
                left: 123px;
            }
        }
    }
    &:hover {
        .year {
            transform: translateX(28px);
        }
        .name{
            // padding-right: 30px;
            .nolan{
                transform: translateX(-120px);
            }
            .ngim{
                transform: translateX(-96px);
            }
            .bug{
                transform: translateX(-96px);
            }
        }
    }
  }


  .nav {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: normal;

    .anch{
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
        padding: 20px;

        a {
            transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
        }
        

        // align-items: center;
        cursor: pointer;
        &:hover {
            .indicator {
                transform: scale(1.5);
            }

            .about {
                transform: translateY(-10px);
            }
        }

        .indicator {
            position: absolute;
            width: 5px;
            height: 5px;
            top: 65px;
            left: 50%;
            background-color: "#FFD700";
            
            background-color: black;
            border-radius: 50%;
            transform: scale(0) translate(-50%);
            transition: transform 0.2s cubic-bezier(0.78, 0.04, 0.43, 0.94);
        }
    }

    a {
      cursor: pointer;
    }
  }
}

.headerButtonContainer {
    transform: scale(0);
    position: fixed;
    right: 10px;
    top: 5px;
    z-index: 2010;

    .button{
        position: relative;
        margin: 20px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #524B4A;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .burger {
        width: 100%;
        position: relative;
        z-index: 1;
        &::after, &::before{
            content: "";
            display: block;
            height: 1px;
            width: 40%;
            margin: auto;
            background-color: white;
            position: absolute;
            left: 0;
            right: 0;
            transition: transform 0.3s;
        }

        &::after{
            transform: translateY(-5px);
        }

        &::before{
            transform: translateY(5px);
        }
    }

    .burgerActive {
        &::after{
            transition: transform 0.3s;
            transform: rotate(45deg) translateY(0); 
        }

        &::before{
            transition: transform 0.3s;
            transform: rotate(-45deg) translateY(0);
        }
    }
}