


.headline {
    position: relative;
    display: flex;
    align-items: center;
    gap: 3.5rem;
    padding-left: 6rem;
    margin-top: 0vh;
    margin-bottom: 5vh;



    .school {
        position: relative;
        font-size: 15vh;
        font-weight: 600;
        color: #1E1E20;
        display: flex;
        flex-direction: column;
        margin-top: -26vh;
        overflow: hidden;
        z-index: 2;

        .mask {
            position: relative;
            display: inline-flex;
            overflow: hidden;
        }
        
        span {
            margin-right: 0.5vw;
        }


        a{
            color: #FF5A5A;
            text-decoration: underline;
        }
        h2 {
            color: #0C0E0D;
            font-size: 20px;
            opacity: 0.56;
            font-weight: 600;
            margin-top: -3vh;
        }
    }
    
    .profileContainer {
        position: relative;
        height: 52vh;
        width: 40vh;
        overflow: hidden;
        border-radius: 30px;
        z-index: 1000;
    }
    
    .profilePic {
        height: 52vh;
        width: 40vh;
        object-fit: cover;
        z-index: 3;
        border-radius: 30px;
        transform-origin: center;
        top: 50%;
        left: 50%;
        animation: all 2.5s cubic-bezier(0.45,0.05,0.55,0.95);
        overflow: hidden;
        animation-delay: 1.6s;
        will-change: transform, clip-path;
        animation-fill-mode: forwards;

        @keyframes all {
            from {
                transform: scale(1.3);
                clip-path: inset(0 0 100% 0);
                // opacity: 0;
            }
            to {
                transform: scale(1);
                clip-path: inset(0 0 0 0);
                // opacity: 1;
            }
        }
    }

    .circleContainer {
        position: absolute;
        right: 0;
        top: 0; 
        .bgCircle {
            height: 40vw;
            width: 40vw;
            background-color: #524B4A;
            border-radius: 50%;
            position: absolute;
            right: -13vw;
            z-index: 2;
            top: 17vh;
            // bottom: 0;
        }
        .bgCircle2 {
            height: 60vw;
            width: 60vw;
            background-color: #D9D9D9;
            border-radius: 50%;
            position: absolute;
            right: -5vw;
            z-index: 1;
    
        }
    }

    
}

