@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
  overflow: hidden;  
  background-color: white;
  background-image: url("../assets/images/Noise.png");
  background-size: cover; /* Cover the entire page */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-attachment: fixed; /* Keep the image fixed during scroll */
  background-blend-mode: normal;
}


html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
@layer base {

  /* *{
    border: 1px solid red;
  } */

  
  ::-moz-selection {
    background: #D1D1C7
  }
  ::-webkit-selection {
    background: #D1D1C7
  }
  ::selection {
    background: #D1D1C7
  }

  .text-smooth {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* @font-face {
    font-family: "GeneralSans-Variable";
    src: url("../assets/fonts/GeneralSans-Variable.ttf") format("truetype");
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
  } */

}