
.container {

    display: flex;
    flex-direction: row;
    margin: 20rem 0;

    .images {
        width: 60%;
        display: flex;
        margin: 0 5rem;
        justify-content: center;
        position: relative;

        .imageContainer {
            position: absolute;

            img{
                object-fit: cover;
                border-radius: 50px;
            }

            &:nth-of-type(1) {
                height: 50vh;
                width: 70vh;
                z-index: 1;
            }

            &:nth-of-type(2) {
                left: -150px;
                bottom: -150px;
                height: 30vh;
                width: 50vh;
                z-index: 2;
            }
            &:nth-of-type(3) {
                right: 0px;
                top: 100px;
                height: 50vh;
                width: 40vh;
                z-index: 3;
            }
        }
    }

    .words {

        display: flex;
        flex-direction: column;
        width: 40%;
        align-items: center;
        justify-content: center;
        font-size: 96px;
        margin: 0 5rem;
        
        .body{
            
        }


        p {

            font-weight: 600;
            align-self: end;

            span {
                position: relative;
            }
        }
    }
}