
.roundedButton{
    border-radius: 3em;
    border: 1px solid blue;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 60px 15px 60px;

    p{
        position: relative;
        z-index: 1;
        transition: color 0.4s linear;
    }

    &:hover{
        p{
            color: white;
        }
    }
}


.circle{
    width: 180px;
    height: 220px;
    position: absolute;
    border-radius: 50%;
    bottom: 10px
}