
.container {

    display: flex;
    flex-direction: row;

    .images {
        width: 60%;
    }

    .words {

        display: flex;
        flex-direction: column;
        width: 40%;
        align-items: center;
        justify-content: center;
        font-size: 96px;
        
        .body{
            
        }


        p {

            font-weight: 600;

            span {
                position: relative;
            }
        }
    }
}