.introduction{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 99;
    background-color: #1E1E20;
    svg{
        position: absolute;
        top: 0;
        width: 100%;
        height: calc(100% + 300px);
        path{
            fill: #1E1E20;
        }
    }
    p{
        display: flex;
        color: white;
        font-size: 60px;
        font-weight: 600;
        align-items: center;
        position: absolute;
        margin-left: -25vw;
        z-index: 5;
        span{
            // display: block;
            // width: 10px;
            // height: 10px;
            // background-color: white;
            // border-radius: 50%;
            // margin-right: 10px;
            margin-right: 4px;
        }
        .mask {
            position: relative;
            overflow: hidden;
            display: inline-flex;
        }
    }
}